/*
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
*/

:root {
  interpolate-size: allow-keywords;
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  background-color: #111111;
  color: white;
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
  font-size: 14px;
  text-align: center;
}

canvas.canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: translate3d(0,0,0);
}

button {
  border: none;
  border-radius: 100%;
  width: 2.3em;
  height: 2.3em;
}

button#close {
  float: right;
  width: 40px;
  height: 40px;
}

button:hover {
  filter: brightness(90%);
  border: 2px #111111 solid;
}

input {
  background-color: #eeeeee;
  color: #111111;
  font-family: "Roboto Mono";
  font-size: 14px;
  text-align: center;
}

input[type=text] {
  margin: 4px;
  text-align: left;
  width: 90%;
}

input[type=number] {
  margin: 4px;
  text-align: left;
  width: calc(90% - 4em);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

aside > div {
  width: calc(100% - 8px);
  padding: 4px;
}

p.checkbox {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

p.text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

label {
  width: 100%;
}

aside {
  position: fixed;
  display: block;
  right: 0;
  top: calc(6.5% + 1px);
  height: calc(100% - 6.5% - 1px - 1em);
  width: min(300px, 23%);
  z-index: 2;
  background-color: #eeeeeebe;
  border-left: 2px solid #eeeeee;
  text-align: left;
  color: #111111;
  padding: 0.5em;
  overflow: auto;
}

/* folder style */
details {
  width: 100%;
  background-color: #eeeeee30;
}
details.folder summary {
  user-select: none;
  cursor: pointer;
  list-style: none;
  background: url(map/folder_close.svg) 0 0.1em no-repeat;
  background-size: 1em 1em;
  padding: 0 0 0 1.5em;
  font-weight: bold;
  font-size: 14px;
}
details.folder:open > summary {
  background-image: url(map/folder_open.svg);
}
details::details-content {
  transition: height 300ms ease, content-visibility 300ms allow-discrete;
  height: 0;
  overflow: clip;
}
details:open::details-content {
  height: auto;
}
details.folder ul {
  list-style: none;
  margin: 0 0 0 0.5em;
  padding: 0.2em 0 0 0.5em;
  border-left: 1px solid #111111;
}
details.folder ul li {
  padding: 0.2em 0;
}
details.folder .file {
  user-select: none;
  cursor: pointer;
  padding: 0 0 0 1.5em;
  background: 0 0.1em no-repeat;
  background-size: 1em 1em;
}